@import './NullStyleCss.css';
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

html,
body,
#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 16px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Golos Text', serif;
}

.main {
    padding: 1rem;
    flex-grow: 1;
}

.footer {
    font-weight: 500;
    padding: 0.5rem;
}